/* GitHub-like table styling */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #d0d7de;
    padding: 6px 13px;
}

tr:nth-child(odd) {
    background-color: #f6f8fa;
}

th {
    background-color: #007bc7;
    font-weight: 600;
    color: white;
}

.sidelabel {
    position: fixed;
    -webkit-transform-origin: top right;
    right: 100%;
    top: 0;
    -webkit-transform: rotate(-90deg);
    padding: 5px 40px 5px 40px;
    color: white;
    white-space: nowrap;
    z-index: 1;
    font-size: 14px;
    background-color: #0a4181;
}

.plain-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
}

.plain-table td,
.plain-table tr,
.plain-table th {
    padding: 1;
    margin: 0;
    border: none;
    background: transparent;
    white-space: nowrap;
    /* voorkomt extra uitrekken */
}